.sidecart-wrapper {
    /* Sticking side cart to right */
    position: fixed;
    top: 69px;
    right: 0;
    bottom: 0;
    /* Transparent shadow with dark depth fading off */
    box-shadow: 0 0 2em rgba(0, 0, 0, .7);
    /* Cart background */
    background-color: #fff;
    /* Cart width */
    width: 35%;
}

.sidecart-container {
    /* Container to align cart items vertically */
    display: flex;
    flex-direction: column;
    /* height 100% is important to make cart-items section scrollable */
    height: 100%;
}

.cart-header {
    font-size: 1.5rem;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    /* To Show Cart on left and item count on right */
    display: flex;
    justify-content: space-between;
}

.cart-items {
    /* flex: auto; Absorbs any extra space along the main axis */
    flex: auto;
    /* Brings scroll bar */
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.cart-item-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
}

.cart-item {
    display: flex;
}

.cart-item-img-wrapper {
    position: relative;
    margin-right: 1rem;
}

.cart-item-quantity-price {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.decrement-btn {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    padding: 10px;
}

.increment-btn {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 10px;
}

.decrement-btn:focus,
.increment-btn:focus {
    outline: none;
}

.quantity-display {
    padding: 10px;
    width: 10px;
}

.quantity-picker {
    display: flex;
}

.cart-item-img {
    width: 70px;
    height: 70px;
}

.cart-item-detail {
    font-size: 1.0rem;
    width: 100%;
}

.cart-footer {
    padding: 1rem;
    border-top: 1px solid #ddd;
    text-align: center;
}

.cart-total-section {
    display: flex;
    justify-content: flex-end;
}

.total-label {
    font-size: 1.1rem;
}

.total-price {
    padding-left: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.cart-empty-msg {
    padding: 12rem 1rem;
    text-align: center;
}

.button-primary {
    background-color: #0065ff;
    color: white;
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 21px;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    .sidecart-wrapper {
        width: 30%;
    }
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    .sidecart-wrapper {
        width: 30%;
    }
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    .sidecart-wrapper {
        width: 50%;
    }
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .sidecart-wrapper {
        width: 50%;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .sidecart-wrapper {
        width: 100%;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .sidecart-wrapper {
        width: 100%;
    }
}